$light-ui-purple: #7209b7;
$light-ui-white: #fff;
$light-ui-pink: #f72585;
$purple-gradient: linear-gradient(90deg, #7209b7 0%, #b5179e 100%);
$pink-gradient: linear-gradient(90deg, #b5179e 0%, #f72585 100%);
$shadow1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow2: rgba(149, 157, 165, 0.2) 0px 8px 24px;

@mixin sidebar-header-btn {
  width: 100%;
  // height: 8%;
  // background-color: red;
  padding: 0.5em 0;
  display: grid;
  place-items: center;
  font-size: 1.5em;
  margin-top: 10px;
  border-top: 2px solid $light-ui-purple;
  border-bottom: 2px solid $light-ui-purple;
  // color: $light-ui-purple;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  background: $purple-gradient;
  color: $light-ui-white;

  &:hover {
    background: $purple-gradient;
    color: $light-ui-white;
  }
}

// :export{
//   light-ui-purple:$light-ui-purple;
//   light-ui-white:$light-ui-white;
//   light-ui-pink:$light-ui-pink;
//   purple-gradient:$purple-gradient;
//   pink-gradient:$pink-gradient
// }
