@import '../../utils/variables.scss';

textarea:focus{
  outline: none;
}

.form-input{
  width: 60%;
  margin: 10px auto;

  label{
    color: $light-ui-purple;
    margin-bottom: 10px;
  }

  input{
    width: 100%;
    height: 2em;
    border: none;
    border: 2px solid $light-ui-purple;
    border-radius: 10px;
    color:$light-ui-pink;
  }

  textarea{
    width: 100%;
    border: none;
    outline: none;
    border: 2px solid $light-ui-purple;
    border-radius: 10px;
    color:$light-ui-pink;
  }
}